* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;

}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    height: 64px;
    background-color: #FD6E0A;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border: 0;
    padding: 18px 35px;

}

.header {
    background: #FFF8F3;
    background-image: url("../images/header_bg.png"), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;



}

/* header and navigation styles */
nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 100px;



}

nav li {
    list-style: none;
    margin-left: 50px;


}

nav ul {
    display: flex;
    align-items: center;


}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

/* banner styles */
.banner {
    margin: 0 100px;
    display: flex;
    align-items: center;
}

.banner-sub-title {
    font-weight: 600;
    font-size: 45px;
    color: #474747;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
    color: #181818;
    margin-bottom: 20px;
    margin-top: 5px;
}

.banner-description {
    color: #757575;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 30px;

}

.contact-button {
    padding: 18px 25px;
    color: #FD6E0A;
    background-color: white;
    border: 1px solid #FD6E0A;
    margin-left: 30px;
}

/* main section */
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* about section styles */
.about {
    margin-top: 130px;
    background-color: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;

}

.section-title {

    margin-bottom: 30px;
    font-weight: 700;
    font-size: 35px;

}

.section-description {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;

}

.about .info-title {
    font-size: 20px;
    color: #757575;
}

.about .info-description {
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}